@{
    ViewBag.Title = "Contact";
}

<div class="container">
    <address>
        Greater Seattle Area, WA USA<br />
        <abbr title="Phone">P:</abbr>
        206.335.8053<br />
        <abbr title="Email">@@:<a href="mailto://jefjohms@gmail.com">jefjohms@gmail.com</a></abbr><br />
        <ul class="list-inline">
            <li> <a href="https://github.com/JeffreyMJohnson" target="_blank"><img src="~/Images/GitHub-Mark-32px.png" />&nbsp;GitHub</a></li>
            <li> <a href="https://www.linkedin.com/pub/jeffrey-johnson/65/a60/822" target="_blank"><img src="~/Images/linkedIn_button_small.png" />&nbsp;LinkedIn</a></li>
        </ul>
    </address>
</div>
