
<div class="container">
    <p><h2>Where Have You Been?</h2></p>
    <p>
        I started my professional web development career when I was hired at iSoftstone for the position of Software Development Engineer II. I joined a small team of contractors working on sites for Microsoft Azure Imagine team. This is my glorious return to Microsoft campus since I was forced to take some time off for health reasons. Things have changed (campus so much bigger now) and things have remained the same (incredible talent and diversity everywhere).
    </p>
    <p>
        As you might imagine, I have been pretty busy learning the ins and outs of .NET MVC as well as the workflow differences between game and web development. Most of our communication tools are cloud based and use web user interfaces. Being a Microsoft product, we use all of the Visual Studio Team Services and Azure Dev Ops for our worklow tools.
    </p>
    <p>
        SQL Server databases, ASP.NET middleware using entity framework and a myriad of client side libraries are used and I'm having a blast learning all of these systems!  I will post some blogs about some of these different technologies and what I have learned so far. Stay Tuned!
    </p>
</div>