<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://jeffreymjohnson.net/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>dodder.arvixe.com:8172</MSDeployServiceURL>
    <DeployIisAppPath>jeffreymjohnson.net</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>jeffreym_nsonnet_pub</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=dodder.arvixe.com;Initial Catalog=SiteDB;User ID=Jeffrey;Password=92GKNPb&amp;4zZy" Name="server=dodder.arvixe.com;database=SiteDB;uid=Jeffrey;pwd=92GKNPb&amp;4zZy" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Personal_Site.Models.ApplicationDbContext, Personal_Site" MigrationConfiguration="Personal_Site.Migrations.Configuration, Personal_Site" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>server=dodder.arvixe.com;database=SiteDB;uid=Jeffrey;pwd=92GKNPb&amp;4zZy</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>