
@{
    ViewBag.Title = "DontQuestionIt";
}

<h2>DontQuestionIt</h2>
<p>
    This project began as a 2.5D puzzle game created at a game jam and was then given to another group to continue working on.
    I was offered the chance to get the experience of working on a development team consisting of both artists and programmers
    before the rest of my class.
</p>
<p>
    We decided to change the game to more of a 2D fighter (don’t ask) and went from there. This was at the end of my first year and is pretty rough.
</p>
<div>
    
</div>
<div><a href="~/UnityProjects/DontQuestionIt/index.html">Play it.</a></div>
<div><a href="https://github.com/TeamQuestionIt/FinalProject">Source Code</a></div>

