
@{
    ViewBag.Title = "GachaTown";
}
<img src="~/Images/GachaTown/gachatown.png"/>
<h2>GachaTown</h2>
<div><a href="~/UnityProjects/GachaTown/index.html">Play a WebGL port I forked off the main repo.</a></div>
<div><a href="https://github.com/JeffreyMJohnson/GachaTown/tree/html_port">GitHub Repo of the WebGL fork.</a></div>
<div><a href="http://gachatown.wix.com/game">Game's Landing Site</a></div>

<blockquote>"Gachatown is a charming, colorful game that focuses on the experience of obtaining new characters from a gachapon machine.
    The fun doesn't stop there; with your collection, you can create an interactive town to earn you even more coins to extend your
    collection further! As you play, you can unlock more machines to build environments to your own preferences!"</blockquote>
<p>
    This was the final project working towards my programming diploma. I was chosen to be the Technical director of a team of three
     programmers including myself.  We were teamed with a group of senior art students as well for an art pipeline to be established.
</p>
<p>
    I decided to use a SCRUM / Agile management style, so an overall roadmap was created and with that a one-week sprint task list was
     chosen. A complete, working (albeit crude) application was done by the one-week deadline and we iterated on that build, improving each week.    
</p>
<p>
    My programming responsibilities were designing and implementing the collection and management backend systems as well as owning a main scene in the game (the town scene) .
</p>
<p>
    After 2 months of working on the prototype, it was shown at iFest on May 14, 2016 in Seattle, WA. We received a lot of great feedback, and I
    personally gained some new energy for the project seeing strangers enjoying what we have been working on. This is why we do it.
</p>
<div class="row">
    <div class="col-lg-4"><img width="360" height="640" src="~/Images/GachaTown/main.jpg"/>
    </div>
    <div class="col-lg-4"><img width="360" height="640" src="~/Images/GachaTown/buy2.jpg"/>
    </div>
    <div class="col-lg-4"><img width="360" height="640" src="~/Images/GachaTown/buy.jpg"/>
    </div>

</div>
<div class="row">
    <div class="col-lg-4"><img width="360" height="640" src="~/Images/GachaTown/collection1.jpg"/>
    </div>
    <div class="col-lg-4"><img width="360" height="640" src="~/Images/GachaTown/collection2.jpg"/>
    </div>
    <div class="col-lg-4"><img width="360" height="640" src="~/Images/GachaTown/collection3.jpg"/>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <img width="640" height="360" src="~/Images/GachaTown/town1.jpg"/>
    </div>
    

</div>
<div class="row">
    <div class="col-lg-12">
        <img width="640" height="360" src="~/Images/GachaTown/town2.jpg" />
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <img width="640" height="360" src="~/Images/GachaTown/town3.jpg" />
    </div>
</div>



