
@{
    ViewBag.Title = "HomeWebSite";
}

<h2>JeffreyMJohnson.net</h2>
<p>
    This web site and the code that makes it. This site is a test bed for me to learn
    web development techniques and a repository of my coding life. Why not show my work
    as I go? I hope to log my trials along the way as I find it helps me absorb the
    new material better and hopefully somebody else might find it useful in the future.
</p>

<div><a href="https://github.com/JeffreyMJohnson/jeffreymjohnson.net">Source Code</a></div>

<h3>The Web Site Chronicles</h3>

<p>
    My initial implementation was a mess. You can look at the original commits and see for yourself. While I had
    All the scaffolding in place for an ASP.NET application, I implemented an old fashioned static web site, with
    hard coded pages everywhere. I wanted to learn MVC and ASP so the web site was chosen as the guinea pig.
</p>

<p>
    The projects page was the first place I wanted to change. It’s a list of my projects with a link to a project
    detail page. It was hardcoded with all the projects, so if I needed to update or add a new one to the site,
    there was a lot of copy pasting going on.
</p>

<p>
    First issue I see is the link calls a different action but if you look at the controller they all essentially
    do the same thing, call a new view with a name of the selected project. Instead I implemented a new action
    that takes a string parameter that I use to build the right view to call.
</p>
