
@{
    ViewBag.Title = "MagicAndMagnums";
}

<h2>Magic And Magnums Torch Edition</h2>

<p>A hands on game that uses a physical sandbox to model a terrain in real time for a tower defense style game to played on top of.
    Shown at a number of conferences and trade shows including GDC 2016.
</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/RQ4DZulNDlM" frameborder="0" allowfullscreen></iframe>

<p>
    I implemented the pathfinding of the characters in the game. The terrain and potential paths are weighted by steepness, height 
    and terrain type to calculate an overall cost to travel the edge. A* is then used to calculate a path for each character.
</p>

<p>
    I also worked on the tower and character shooting mechanics. This uses a firing radius for each character type for general range, 
    but also utilizes a line of sight calculation to see if terrain or other characters are blocking the firing path.
</p>



