
@{
    ViewBag.Title = "VersiWorld";
}

<h2>VersiWorld</h2>
<p>
    Project focused on using Unity3D physics engine and creating a rapid prototype in a two-man team of programmers.
    We decided on a 2D puzzler in the beginning. When working on it I happen to try a game mechanic out and it turned out
    to be kind of fun. We switched the game to focus on the mechanic and VersiWorld was born.
</p>

