
@{
    ViewBag.Title = "VersiWorld";
}
<style>
    img {
        width: 1280px;
        height: 720px;
    }
</style>
<h2>VersiWorld</h2>
<p>
    Project focused on using Unity3D physics engine and creating a rapid prototype in a two-man team of programmers.
    We decided on a 2D puzzler in the beginning. When working on it I happen to try a game mechanic out and it turned out
    to be kind of fun. We switched the game to focus on the mechanic and VersiWorld was born.
</p>
<div>
    <img src="/Images/versiworld/instructions.png">
    <img src="/Images/versiworld/level_two.png">
    <img src="/Images/versiworld/level_three.png">
</div>
<div><a href="~/UnityProjects/versiworld/index.html">Play it</a></div>
<div><a href="http://gravballs.github.io/VersiWorld/">Project Site</a></div>
<div><a href="https://github.com/GravBalls/VersiWorld/tree/html5_port">Source Code</a></div>



