
@{
    ViewBag.Title = "About";
}

<div>
    <h2>What a long strange trip it's been</h2>
    <hr />
    <h3>Where are you headed?</h3>
    <p>
        My current goal is to join a team working on a project particularly in the virtual / augmented reality domain.
        I believe we are on the edge of the next big sea change regarding our interfacing with computers, and there are
        a multitude of problems just waiting for us to solve out there! As an entry level game programmer I’m hoping to be
        able to contribute what I can, and learn the ropes from a group of experienced professionals. I learned from my days
        as an electrical engineering technician that the difference between what you’re taught in school and real world
        application can be vast indeed.
    </p>
    <p>
        One of the reasons I love programming so much is that it requires a lifetime dedicated to the pursuit of learning and
        improvement. Taking Massive Open Online Courses courses, online tutorials, reading articles, forums and old fashioned technical books are
        scheduled into my week as any other necessary routine to improve upon yesterday would be.
    </p>

    <h3>Where are you now?</h3>
    <p>
        I’m currently working on my final project towards a diploma in professional game programming from the Academy of Interactive
        Entertainment. Graduation is in June 2016 and I look forward to looking for my next adventure soon after. I have studied the
        main disciplines of programming with a focus towards 3D graphic techniques and patterns (game engine, physics, artificial intelligence,
        linear algebra, computer graphics etc). C++ and C# are the languages used as well as the other more standard tools of the trade,
        Unity3D and Visual Studio.
    </p>
    <p>
        I'm also a programming intern at <a target="_blank" href="http://www.ki-games.com/">Kaio Interactive LLC</a>, an independent game studio in the Seattle area. I have worked on multiple
        projects including Magic and Magnums, a blend of physical and digital world.
        <div><iframe width="560" height="315" src="https://www.youtube.com/embed/RQ4DZulNDlM" frameborder="0" allowfullscreen></iframe>
        </div> 
        Check out the demo done at GDC 2016.
    </p>
    <p>
        In my time away from school and work, I’m usually working on a few personal projects I have going at any given time. I really love to
        solve problems using code and making a computer do my bidding. I do this for ‘fun’ so to get paid for it is just a fortunate circumstance
        I can’t appreciate enough.
    </p>
    <h3>Where did you come from?</h3>
    <p>
        I was a software developer engineer in test (SDET) at Microsoft for about 3 years as full time employee and 2 years as same position but
        a contractor. I was promoted to the position from by previous position as a test lab manager at Microsoft (contract position).
    </p>
    <p>
        I moved to Microsoft as a contractor creating and running a test lab for a new Microsoft team (MSXML) that was being started up. I always
        looked up to Microsoft as a life-long geek so I decided to make the move from managing an electronics production facility to running a
        computer lab.
    </p>
    <p>
        My original training (7 of 8 quarters towards associates degree in electrical engineering) was in hardware. I left school when I got full
        time position as an entry level technician at a contract electronics manufacturing company in Redmond, WA. Shortly I was promoted to
        leading the tech department, and eventually production manager of the entire production floor.
    </p>
</div>

