@{
    ViewBag.Title = "Home of Jeffrey M. Johnson";
}

<p>
    Welcome to my little piece of cyberspace. I'm a programmer living in the Seattle area in the beautiful Pacific Northwest USA. My education was focused
    on interactive graphical applications (games and such) and I love working on new challenges. I love to talk programming, gaming or pretty much any other 
    geek subject, so send me an email if you like.
</p>

<p>
    Take a look around if you'd like to get to know me, and feel free to ping me, my info is on the @Html.ActionLink("Contact", "Contact", "Home") page.
</p>

<p>
    This site is also a learning project for myself, so it will go through some changes as I explore the web programming domain...
</p>
