
@{
    ViewBag.Title = "JMath";
}

<h2>JMath</h2>
<p>
    A math library for linear algebra functions. Two, three and four dimensional vectors as well
    as three by three and four by four matrix datatypes are provided. Written in C++ with dynamic
    and standard library builds. Unit tested using Visual Studio testing framework.
</p>
<p>
    She’s not much to look at but useful when writing game code!
</p>
<p>
    <a href="https://github.com/JeffreyMJohnson/JMath/releases/tag/V1.0">Release on GitHub</a>
</p>



