@using System.Text
@using Main.Models


@{
    ViewBag.Title = "Projects";
    
}

<div>
    <div class="page-header"><h1>My current and past projects</h1></div>
    <div>
        <h1>Gacha Town</h1>
        <img src="gachatown_logo.png" alt="screen-shot"/>
        Lead programmer and Technical director for Gacha Town, a mobile collections game. Primarily responsible for project management,
        production, and programming backend systems. Worked with a small mixed team of artists and programmers.
    </div>
    <div>
        <h1>Versi World</h1>
        <img src="" alt="screen-shot"/>
        Worked in two-man team under an iterative development cycle to produce Versi World, a physics based pc game. Responsible for
        versioning and task distribution as well as implementing primary mechanics.
    </div>
    <div>
        <h1>Question It</h1>
        <img src="" alt="screen-shot" />
        Collaborated with artists to develop Question It. Responsible for contributing to design, communicating with art pipeline, 
        implementing backend systems, 2D sprite animations and enemy artificial intelligence.
    </div>
</div>