@using System.Text
@using Main.Models


@{
    ViewBag.Title = "Projects";
    
}

<div>
    <div class="page-header">
        <h1>My current and past projects</h1>
    </div>

    <div class="row">
        <div class="col-lg-1" style="text-align: left; vertical-align: bottom"><img src="~/Images/gachatown.png" alt="screen-shot" style="width: 100%;"/>
        </div>
        <div class="col-lg-3" style="text-align: left; vertical-align: bottom">
            <h2>@Html.ActionLink("Gacha Town", "GachaTown", "Home")</h2>
        </div>
        <div class="col-lg-8" style="text-align: left; vertical-align: bottom">
            <h3>Lead programmer and Technical Director</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-1" style="text-align: left; vertical-align: bottom"><img src="" alt="screen-shot" style="width: 100%;" /></div>
        <div class="col-lg-3" style="text-align: left; vertical-align: bottom">
            <h2>@Html.ActionLink("Versi World", "Versiworld", "Home")</h2>
        </div>
        <div class="col-lg-8" style="text-align: left; vertical-align: bottom">
            <h3>Programmer</h3>
        </div>
    </div>
</div>