@using Main.Models
@{
    ViewBag.Title = "ProjectDetails";

}

@model Project

<h2>@Model.Title</h2>
<div class="Project-Description">
@Model.Description
</div>
<br/>
<br/>
<div class="Project-Links">
    
</div>


