@{
    ViewBag.Title = "Resume";
}
<a href="~/Jeffrey_M_Johnson_Resume.pdf" download="Jeffrey_M_Johnson_Resume">Download Resume</a>
<iframe src="~/Jeffrey_M_Johnson_Resume.pdf" width="100%" height="1250px" scrolling="no" frameborder="0"></iframe>