@{
    ViewBag.Title = "Resume";
}
<a href="~/Jeffrey M Johnson Resume.pdf" download="Jeffrey M Johnson Resume">Download Resume</a>
<iframe src="~/Jeffrey M Johnson Resume.pdf" width="100%" height="1250px" scrolling="no" frameborder="0"></iframe>