<P>
    The latest rewrite for this site uses ASP.NET and is an MVC application.  I use Visual Studio for me development as well as updating the host files and database.
</P>

<p>
    The front end uses Bootstrap (version 3) with some custom CSS added for good measure.
</p>

<p>
    The back end is using IIS to serve up my MVC application. The home view pulls any blog post entries from a SQL server database and lists them out in descending order by date.  The projects view is similar in that it pulls from the same SQL server database and lists out any projects. These are made in to links that open a details view. This view again pulls it’s data from the database, this time just querying the project row selected in the previous view.
</p>

<P>
    Future plans is to add my older projects and try to get the playable ones in some sort of state that can be ran in the page.
</P>

<p><a href="https://github.com/JeffreyMJohnson/jeffreymjohnson.net">Source Code</a></p>
