<P>This was one of my first assessments while attending the Academy of Interactive Entertainment for game programming. Creating all the flavors of Windows library binaries (static and dynamic) and implementing full suite of unit tests.</P>

<p>Great way to get your feet under you when learning to code. Keep it simple UI wise (how about no api?) and focus on the language. </p>

<p>I noticed when checking on this project here with updated C++, the only issue was the test suite I used from Google Test has deprecated classes in it.  Should probably move to using the built in Visual Studio unit test tools since they have been around long enough and seem to work great.</p>

<p><a href="https://github.com/JeffreyMJohnson/JMath">GitHub Repo</a></p>
