
<p>
    I implemented the pathfinding of the characters in the game. The terrain and potential paths are weighted by steepness, height 
    and terrain type to calculate an overall cost to travel the edge. A* is then used to calculate a path for each character.
</p>

<p>
    I also worked on the tower and character shooting mechanics. This uses a firing radius for each character type for general range, 
    but also utilizes a line of sight calculation to see if terrain or other characters are blocking the firing path.
</p>
        
<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/RQ4DZulNDlM" allowfullscreen></iframe>
</div>