
@{
    ViewBag.Title = "Resume";
}

<div class="container">
    <div><a href="~/Web_Data/General_Programmer.pdf" download="Jeffrey_M_Johnson_Resume">Download Resume</a></div>
    <iframe class="embed-responsive-item" src="~/Web_Data/General_Programmer.pdf" scrolling="no" width="75%" height="1000px"></iframe>
    
</div>


