@model List<Personal_Site.Models.BlogPost>

@{
    ViewBag.Title = "Blog Editor";
}

<style>

    input,
    select,
    textarea {
        max-width: 100%;
    }
    .container.wide {
        width: 100%;
    }

    @@media all and (min-width:1200px) {
        .container.body-content {
            width: 100%;
            margin: 20px;
        }
    }

    .BlogPostColumn {
        background-color: #F1F2F2;
        border: 1px solid #458594;
        height: 100%;
        overflow: scroll
    }

    .BlogPostSelector {
        margin: 10px 5px;
        padding: 10px 5px;
        background-color: #D1DADC;
        border: 1px solid #80ABB5;
    }

        .BlogPostSelector:hover {
            background-color: rgba(255, 255, 255, 0.01);
        }

        .BlogPostSelector.Selected {
            background-color: rgba(0, 141, 255, 0.86);
            color: #f1f2f2;
        }
    
</style>

<h2>Edit Blogs</h2>
<div class="container wide">
    <div class="row" style="height: 750px; overflow: hidden">
        <div class="col-lg-2 BlogPostColumn">
            @*nav column*@
            <div class="BlogPostSelector Selected" id="0" onclick="SelectBlogPost(0)">
                <b>New Blog</b>
            </div>
            @foreach (var blog in @Model)
            {
                <div class="BlogPostSelector" id="@blog.Id" onclick="SelectBlogPost(@blog.Id)">
                    <b>@blog.Title</b>
                </div>
            }
        </div>
        <div class="col-lg-10">
            @*body*@
            <form>
                <div class="form-group">
                    <label for="BlogTitle">Title</label>
                    <input class="form-control" type="text" id="BlogTitle" placeholder="Title" />
                </div>
                <div class="form-group">
                    <label for="BlogSummary">Summary</label>
                    <input class="form-control" type="text" id="BlogSummary" placeholder="Summary" />
                </div>
                <div> <textarea class="form-control" id="BlogBody" rows="25"></textarea></div>
                <div> <button type="button" class="btn btn-primary">Save</button></div>
            </form>
            
        </div>

    </div>
   
</div>

<script>
    var selectedBlogId = "0";

    document.addEventListener("DOMContentLoaded", function(event) {
        console.log("DOM fully loaded and parsed");
    });

    function SelectBlogPost(id) {
        //if click already selected ignore
        if (selectedBlogId === id) return;

        SetSelectionStyles(id);
        SendBlogPostGetRequest(id)

        selectedBlogId = id;
    }

    function SendBlogPostGetRequest(id) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = HandleBlogPostGetRequest;

        var url = "@Url.Action("GetBlogPost")";
        url += "?id=" + id;

        xhttp.open("GET", url, true);
        xhttp.send();
    }

    function HandleBlogPostGetRequest() {
        if (this.readyState == 4 && this.status == 200) {
            var title = "";
            var summary = "";
            var body = "";
            if (this.responseText != "") {
                var data = JSON.parse(this.responseText);
                title = data.Title;
                summary = data.Summary;
                body = data.Body;
            } 
            document.getElementById("BlogTitle").value = title;
            document.getElementById("BlogSummary").value = summary;
            document.getElementById("BlogBody").value = body;
        }
    }

    function SetSelectionStyles(id) {
        //turn off the selector style
        document.getElementById(selectedBlogId).classList.remove("Selected");
        //turn on the selector style
        document.getElementById(id).classList.add("Selected");
    }

    
</script>



